:root {
    --darkest: #22262a;
    --darker: #424b54;
    --dark: #56636f;
    --light: #bababa;
    --lighter: #d1d1d1;
    --lightest: #ffffff;
    --red: #ff5b5b;
    --green: #61ffa6;
}

@media screen and (min-width: 1024px) {
    
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: var(--darkest);
        color: var(--lightest);
        margin: 0px;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: var(--darker);
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        transition: 0.4s;
        background-color: #111;
        transition: 0.4s;
    }
    
    li a:not(:hover) {
        transition: 0.4s;
        background-color: var(--darker);
    }
    
    #main {
        margin: auto;
        width: 50%;
        margin-top: 40px;
    }
    
    .wrapper {
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    
    .left {
        grid-column: 1 / span 1;
        text-align: center;
    }
    
    .right {
        grid-column: 2 / span 1;
        text-align: center;
    }
    
    .left h1 {
        font-size: 35px;
    }
    
    .left h2 {
        font-size: 20px;
        color: var(--lighter);
    }
    .right h1 {
        font-size: 35px;
    }
    
    table {
        width: 100%;
        margin: 0;
        border-collapse: collapse;
    }
    
    th {
        height: 20px;
        border: 1px solid white;
    }
    td {
        font-size: 15px;
        width: 50%;
        height: 20px;
        border: 1px solid white;
    }
    
    tr {
        margin: 0;
    }
    
    #table-container {
        border: 2px solid white;
    }
    
    h3 {
        color: white;
    }
    button {
        transition: 0.4s;
        background-color: var(--green);
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 10px;
        color: var(--darkest);
        border: none;
    }

    button:hover {
        transition: 0.4s;
        background-color: var(--light);
    }

}

@media screen and (max-width: 767px) {
    :root {
        --darkest: #22262a;
        --darker: #424b54;
        --dark: #56636f;
        --light: #bababa;
        --lighter: #d1d1d1;
        --lightest: #ffffff;
        --red: #ff5b5b;
        --green: #61ffa6;
    }
    
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: var(--darkest);
        color: var(--lightest);
        margin: 0px;
        text-align: center;
    }
    
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: var(--darker);
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 12px;
    }

    li a:hover {
        transition: 0.4s;
        background-color: #111;
        transition: 0.4s;
    }

    li a:not(:hover) {
        transition: 0.4s;
        background-color: var(--darker);
    }
    
    #main {
        margin: auto;
        padding: 10px;
    }
    
    .left h1 {
        font-size: 35px;
    }
    
    .left h2 {
        font-size: 20px;
        color: var(--lighter);
    }
    .right h1 {
        font-size: 35px;
    }
    
    table {
        width: 100%;
        margin: 0;
        border-collapse: collapse;
    }
    
    th {
        height: 20px;
        border: 1px solid white;
    }
    td {
        font-size: 15px;
        width: 50%;
        height: 20px;
        border: 1px solid white;
    }
    
    tr {
        margin: 0;
    }
    h3 {
        color: white;
    }

    button {
        background-color: var(--green);
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 10px;
        color: var(--darkest);
    }

    button:hover {
        background-color: var(--blue);
        
    }
}

.transition{
    transition: all 0.3s ease 0.1s;
     }