:root {
    --darkest: #22262A;
    --darker: #424B54;
    --dark: #56636F;
    --light: #BABABA;
    --lighter: #D1D1D1;
    --lightest: #FFFFFF;
    --red: #FF5B5B;
    --green: #61FFA6;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--darkest);
    color: var(--lightest);
    padding: 0px;
}

#toolbar {
    border-bottom-style: groove;
    border-bottom-color: var(--lighter);
    width: 100%;
    margin: 0px;
    border-bottom-width: 2px;
}

#toolbar h1 {
    color: var(--lighter);
    text-align: center;
    font-size: 40px;
}

#listTitle {
    text-align: center;
}

#source-text {
    text-align: center;
    color: var(--light);
}

#main {
    width: 40%;
    margin: auto;
    height: 100%;
}

#main-table {
    width: 100%;
}

#main-table td {
    border-style: groove;
    border-width: 1px;
    height: 30px;
    padding: 10px;
}

#main-table td:nth-child(1) {
    text-align: center;
    padding: 5px;
}

#input-box {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#input-box input[type=text] {
    font-size: 30px;
    height: 100%;
    margin: 5px;
    border-radius: 10px;
}

#input-box input[type=submit] {
    font-size: 30px;
    height: 100%;
    margin: 5px;
    background-color: var(--green);
    border-radius: 10px;
}

.hidden {
    user-select: none;
    color: transparent;
}